h1{
color: pink;
background-color: dimgrey;
text-align: center;
font-size:30px;
}

p{
color: brown;
background-color:whitesmoke;
font-family: fantasy;
text-align: justify;
}

label{
color: chocolate;


}


input{
color:yellow;
background-color: black;


}