<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/filmes.png') }}">
    <title>Movies</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="filmes">

        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </label>
    
        <div class="slide-menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('compras') }}">Compras</a></li>
                <li><a href="{{ url_for('ilustracoes') }}">Ilustrações</a></li>
                <li><a href="{{ url_for('nacionais') }}">Nacionais</a></li>
                <li><a href="{{ url_for('sobre') }}">E Mais Sobre Nós </a></li>
                <li><a href="{{ url_for('filmes') }}">Movies</a></li>
                <li><a href="{{ url_for('animacoes') }}">Animações</a></li>
                <li><a href="{{ url_for('form') }}">Login</a></li>
            </ul>
        </div>
    
        <div class="overlay"></div>
  <header class="simaA">

    <a href="{{ url_for('filmes') }}" class="MRA"><img src="{{ url_for('static', filename='img/logo M vertical A.jpg') }}" alt="Falha ao carregar a imagem"></a>
    <h1 class="AnimaTitulo">Filmes</h1>
    <a href="{{ url_for('filmesDC') }}" class="DCA"><img src="{{ url_for('static', filename='img/logo D vertical A.jpg') }}" alt="Falha ao carregar a imagem"></a>
  </header>

        <aside class="asideF_right">
          <div id="carouselRightF" class="carousel slide">
            <div class="carousel-inner">
             <div class="carousel-item active">
               <img src="{{ url_for('static', filename='img/homem de ferro.jpg') }}"  alt="...">
             </div>
             <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/guardioes.jpg') }}"  alt="...">
             </div>
                 <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/Thor_Poster.jpg') }}"  alt="...">
             </div>
                 <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/Avengers_Endgame.jpg') }}"  alt="...">
             </div>
                 <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/Spide-Man_Poster.jpg') }}"  alt="...">
             </div>
                 <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/The_Incredible_Hulk.jpg') }}"  alt="...">
                 </div> 
               <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/capitão.jpg') }}"  alt="...">
             </div>
            
             
             <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/eternos.jpeg') }}"  alt="...">
             </div>
             <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/guerracivil.jpeg') }}"  alt="...">
             </div>
             <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/homemzinho.jpg') }}"  alt="...">
               </div>
               <div class="carousel-item">
               <img src="{{ url_for('static', filename='img/pantera.negra.jpg') }}"  alt="...">
             </div>
           </div>
         </div>
        </aside>

        <main class="mainF">
          <div class="card">
            <img src="{{ url_for('static', filename='img/Avengers_Endgame.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vingadores: Ultimato</h5>
              <p class="card-text">Duração: 3h 1m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/guardioes.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guardiões da Galáxia</h5>
              <p class="card-text">Duração: 2h 2m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/homem de ferro.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Homem de Ferro</h5>
              <p class="card-text">Duração: 2h 6m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/The_Incredible_Hulk.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">O Incrível Hulk</h5>
              <p class="card-text">Duração: 1h 52m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/Thor_Poster.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Thor</h5>
              <p class="card-text">Duração: 1h 54m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/Spide-Man_Poster.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Homem-Aranha</h5>
              <p class="card-text">Duração: 2h 6m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/homemzinho.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Homem-Formiga</h5>
              <p class="card-text">Duração: 1h 58m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/pantera.negra.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pantera Negra</h5>
              <p class="card-text">Duração: 2h 15m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/capitão.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Capitão América</h5>
              <p class="card-text">Duração: 2h 4m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/estranho.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Doutor Estranho</h5>
              <p class="card-text">Duração: 1h 55m</p>
              <a href="https://www.tokyvideo.com/br/video/doutor-estranho" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/eternos.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Eternos</h5>
              <p class="card-text">Duração: 2h 37m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/guerracivil.jpeg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guerra Civil</h5>
              <p class="card-text">Duração: 2h 28m</p>
              <a href="#" class="btn btn-primary">Trailer</a>
            </div>
          </div>        </main>

        <aside class="asideF_left">
          <div id="carouselLeftF" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/homem de ferro.jpg') }}"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/guardioes.jpg') }}"  alt="...">
              </div>
                  <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/Thor_Poster.jpg') }}"  alt="...">
              </div>
                  <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/Avengers_Endgame.jpg') }}"  alt="...">
              </div>
                  <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/Spide-Man_Poster.jpg') }}"  alt="...">
              </div>
                  <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/The_Incredible_Hulk.jpg') }}"  alt="...">
                  </div> 
                <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/capitão.jpg') }}"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/estranho.jpg') }}"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/eternos.jpeg') }}"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/guerracivil.jpeg') }}"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/homemzinho.jpg') }}"  alt="...">
                </div>
                <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/pantera.negra.jpg') }}"  alt="...">
              </div>
              </div>
              </div>
            </div>
          </div>
        </aside>

  <footer class="baixoA">
   <p>Redes sociais: 
      <a href="#">X</a> | 
      <a href="#">Instagram</a>
    </p>
  </footer>
        </footer>

</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Inicializa os dois carrosseis sem intervalo próprio
    let leftCarousel = new bootstrap.Carousel(document.querySelector("#carouselLeftF"), {
      interval: false
    });

    let rightCarousel = new bootstrap.Carousel(document.querySelector("#carouselRightF"), {
      interval: false
    });

    // Sincroniza a troca
    setInterval(() => {
      leftCarousel.next();
      rightCarousel.next();
    }, 10000); // troca a cada 10 segundos
  });
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>