<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/Ilustrações icone.png') }}">
    <title>Ilustraçoes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
<div class="ilustracoes">


        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </label>
    
        <div class="slide-menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('compras') }}">Compras</a></li>
                <li><a href="{{ url_for('ilustracoes') }}">Ilustrações</a></li>
                <li><a href="{{ url_for('nacionais') }}">Nacionais</a></li>
                <li><a href="{{ url_for('sobre') }}">E Mais Sobre Nós </a></li>
                <li><a href="{{ url_for('filmes') }}">Movies</a></li>
                <li><a href="{{ url_for('animacoes') }}">Animações</a></li>
                <li><a href="{{ url_for('form') }}">Login</a></li>
            </ul>
        </div>
    
        <div class="overlay">

        </div>


<header class="headerI">
  <p class="pI">ILUSTRAÇÕES</p>
</header>

<main class="mainI">
<h2 class="Hqs">OS TOP 10 HQs MAIS VENDIDOS E SUAS CÓPIAS</h2>

<div class="tabelasHQ">
<table>
  <tr>
<th class="fundoMR">
  MARVEL
</th>
</tr>

<tr>
<td>
1. X-Men #1 - 8,2 milhões de cópias
</td>
</tr>

<tr>
<td>
2. X-Force #1 – 5 milhões de cópias
</td>
</tr>

<tr>
<td>
  3. Spider-Man #1 – 2,5 milhões de cópias
</td>
</tr>

<tr>
<td>
  4. Marvel Comics #1 – 880 mil cópias

</td>
</tr>

<tr>
  <td>
    5. Fantastic Four #60 – 752.699 cópias
  </td>
</tr>

<tr>
<td>
  6. Ultimate Spider-Man #1: FCBD Edition – 631.990 cópias
</td>
</tr>

<tr>
<td>
  7. Amazing Spider-Man (Vol. 3) #1 – 559.200 cópias
</td>
</tr>

<tr>
<td>
  8. Secret Wars #1 – 550.500 cópias
</td>
</tr>

<tr>
<td>
  9. Amazing Spider-Man (Vol. 1) # 583 – 530.500 cópias
</td>
</tr>

<tr>
<td>
  10. The Amazing Spider-Man #800 – 439.465 cópias
</td>

</tr>

</table>

<table>
<th class="fundoDC">
  DC
</th>
</tr>

<tr>
<td>
1. Superman #75 (1992 – “A Morte do Superman”) – 6,0 milhões de cópias
</td>
</tr>

<tr>
<td>
2. Adventures of Superman #500 (1993) – 4,2 milhões de cópias
</td>
</tr>

<tr>
<td>
  3. Batman: The 10-Cent Adventure #1 (2002) – 702.126 cópias
</td>
</tr>

<tr>
<td>
  4. Superman #50 (1990) – 441.000 cópias

</td>
</tr>

<tr>
  <td>
    5. Superman: The Man of Steel #18 (1992 – 1ª aparição do Apocalypse) – 430.000 cópias
  </td>
</tr>

<tr>
<td>
  6. Superman: The Man of Steel #19 (1992) – 420.000 cópias
</td>
</tr>

<tr>
<td>
  7. Superman: The Man of Steel #20 (1992) – 410.000 cópias
</td>
</tr>

<tr>
<td>
  8. Batman #500 (1993 – saga Knightfall) – 400.000 cópias
</td>
</tr>

<tr>
<td>
  9. Superman: The Man of Steel #21 (1992) – 390.000 cópias  
</td>
</tr>

<tr>
<td>
  10. Superman/Batman #1 (2003) – 382.000 cópias
</td>

</tr>

</table>
</div>
</main>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>